/* .icon-btn */
.icon-btn {
  color: #2A2A2A;
  background-color: transparent;
  border: .05em transparent solid;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  font-size: 1rem;
  font-weight: 500;
  padding: .2em .6em;
  transition: background-color .15s ease-in-out;
  -webkit-user-select: none;
  user-select: none;

  &:hover {
    background-color: #F9F9F9;
  }

  &:active {
    background-color: #F0F0F0;
  }

  &:disabled {
    background-color: #FFFFFF;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

/* .icon-btn--sm */
.icon-btn--sm {
  font-size: .8rem;
}