@use '../tokens' as *;

.icon-btn {
  gap: $icon-btn-gap;
  color: $icon-btn-color;
  cursor: pointer;
  font-size: $icon-btn-font-size;
  font-weight: $icon-btn-font-weight;
  user-select: none;
  border-radius: $icon-btn-border-radius;
  align-items: center;
  display: inline-flex;
  padding: $icon-btn-padding-y $icon-btn-padding-x;
  justify-content: center;
  -webkit-user-select: none;
  background-color: $icon-btn-background-color;
  border: $icon-btn-border-width $icon-btn-border-color solid;
  transition: background-color $icon-btn-transition-background-color-duration
    ease-in-out;

  /* Pseudo-classes */
  &:hover {
    background-color: $icon-btn-hover-background-color;
  }
  &:active {
    background-color: $icon-btn-active-background-color;
  }
  &:disabled {
    opacity: $icon-btn-disabled-opacity;
    cursor: not-allowed;
    background-color: $icon-btn-disabled-background-color;
  }

  /* Size */
  &--sm {
    font-size: $icon-btn--font-size;
  }
}
