@use '@/components/ui/styles' as *;

.item {
  cursor: pointer;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  color: $select-content-item-color;
  padding: $select-content-item-padding-y $select-content-item-padding-x;
  transition: color $select-content-item-transition-color-duration ease-in-out,
    background-color $select-content-item-transition-background-color-duration
      ease-in-out;

  /* Pseudo-classes */
  &:hover {
    color: $select-content-item-hover-color;
    background-color: $select-content-item-hover-background-color;
  }
  &:active {
    color: $select-content-item-active-color;
    background-color: $select-content-item-active-background-color;
  }
}
