.select {
  position: relative;
  border: none;
  background-color: transparent;
  display: inline-block;
}

.select--open {
  .select__trigger {
    outline: .05em #BBBBBB solid;

    .select-trigger__icon {
      transform: rotate(180deg);
    }
  }

  .select__content {
    visibility: visible;
    opacity: 1;
  }
}