@use '@/components/ui/styles' as *;

.trigger {
  gap: $select-trigger-gap;
  display: flex;
  cursor: pointer;
  font-weight: $select-trigger-font-weight;
  user-select: none;
  padding: $select-trigger-padding-y $select-trigger-padding-x;
  align-items: center;
  border-radius: $select-trigger-border-radius;
  background-color: $select-trigger-background-color;
  -webkit-user-select: none;
  outline: $select-trigger-outline-width $select-trigger-outline-color solid;
  justify-content: space-between;
  transition: background-color
      $select-trigger-transition-background-color-duration ease-in-out,
    outline-color $select-trigger-transition-outline-color-duration ease-in-out;

  /* Pseudo-classes */
  &:hover {
    background-color: $select-trigger-hover-background-color;
  }
  &:active {
    background-color: $select-trigger-active-background-color;
  }

  &--active {
    outline-color: $select-trigger--active-outline-color;
  }
}
