@use '@/components/ui/styles' as *;

.content {
  opacity: 0;
  width: 100%;
  text-align: left;
  overflow-y: auto;
  user-select: none;
  position: absolute;
  visibility: hidden;
  -webkit-user-select: none;
  z-index: $select-content-z-index;
  max-height: $select-content-max-height;
  top: calc(100% + $select-content-offset-y);
  border-radius: $select-content-border-radius;
  background-color: $select-content-background-color;
  padding: $select-content-padding-y $select-content-padding-x;
  border: $select-content-border-width $select-content-border-color solid;
  transition: opacity $select-content-transition-fade-duration ease-in-out,
    visibility $select-content-transition-fade-duration ease-in-out;

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}
