@use '../../../tokens' as *;

.item {
  width: 100%;
  border: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: $dropdown-menu-content-item-gap;
  color: $dropdown-menu-content-item-color;
  background-color: $dropdown-menu-content-item-background-color;
  padding: $dropdown-menu-content-item-padding-y
    $dropdown-menu-content-item-padding-x;
  transition: background-color
      $dropdown-menu-content-item-transition-background-color-duration
      ease-in-out,
    color $dropdown-menu-content-item-transition-color-duration ease-in-out;

  /* Pseudo-classes */
  &:hover {
    color: $dropdown-menu-content-item-hover-color;
    background-color: $dropdown-menu-content-item-hover-background-color;
  }
  &:active {
    color: $dropdown-menu-content-item-active-color;
    background-color: $dropdown-menu-content-item-active-background-color;
  }
  &:disabled {
    cursor: not-allowed;
    color: $dropdown-menu-content-item-disabled-color;
    opacity: $dropdown-menu-content-item-disabled-opacity;
    background-color: $dropdown-menu-content-item-disabled-background-color;
  }

  /* Variant */
  &--danger {
    color: $dropdown-menu-content-item--danger-color;

    /* Pseudo-classes */
    &:hover {
      color: $dropdown-menu-content-item--danger-hover-color;
      background-color: $dropdown-menu-content-item--danger-hover-background-color;
    }
    &:active {
      color: $dropdown-menu-content-item--danger-active-color;
      background-color: $dropdown-menu-content-item--danger-active-background-color;
    }
  }
}
