@use '../../../tokens' as *;

.icon {
  color: $select-trigger-icon-color;
  transition: transform $select-trigger-icon-transition-transform-duration
    ease-in-out;

  &--active {
    transform: rotate(180deg);
  }
}
