.body {
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.8em;

  &__description {
    font-size: 0.8rem;
    line-height: 1.5;
    color: #80838d;
  }

  &__date {
    color: #60646c;
    display: flex;
    align-items: center;
    gap: 0.4em;
  }

  &__priority {
    align-self: flex-start;
  }
}
