.select__content {
  position: absolute;
  border: .12em #D9D9D9 solid;
  border-radius: .4em;
  background-color: #FFFFFF;
  top: 110%;
  padding: .4em 0;
  font-size: .9rem;
  width: 100%;
  text-align: left;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s, visibility .15s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  max-height: 14em;
  overflow-y: scroll;
  overflow-y: auto;
}