.dropdown-menu__content {
  position: absolute;
  border: 0.12em #d9d9d9 solid;
  border-radius: 0.4em;
  background-color: #ffffff;
  top: 110%;
  padding: 0.4em 0;
  font-size: 0.9rem;
  text-wrap: nowrap;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s, visibility 0.15s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}

.dropdown-menu__content--align-left {
  left: 0;
}

.dropdown-menu__content--align-center {
  right: 50%;
  transform: translateX(50%);
}

.dropdown-menu__content--align-right {
  right: 0;
}
