@use '../tokens' as *;

.badge {
  align-items: center;
  color: $badge-color;
  display: inline-flex;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  border-radius: $badge-border-radius;
  background-color: $badge-background-color;

  &--decorated::before {
    content: '';
    width: $badge--decorated-size;
    height: $badge--decorated-size;
    margin-right: $badge--decorated-gap;
    border-radius: $badge--decorated-border-radius;
    background-color: $badge--decorated-background-color;
  }
}
