.badge {
  display: inline-flex;
  align-items: center;
  padding: .3em .6em;
  border-radius: .8em;
  font-size: .8rem;
  background-color: #E8E8EC;
  color: #8B8D98;
}

.badge--decorated::before {
  content: '';
  border-radius: 50%;
  width: .5em;
  height: .5em;
  background-color: #80838D;
  margin-right: .4em;
}