.header {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #d9d9d9 solid;
    border-width: 0.14em 0;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.2em 0;

    &__actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
    }
  }
}
