*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  color: #b4b4b4;
  background-color: #484848;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}
