@use '@/components/ui/styles' as *;

.content {
  opacity: 0;
  text-wrap: nowrap;
  user-select: none;
  position: absolute;
  visibility: hidden;
  -webkit-user-select: none;
  z-index: $dropdown-menu-content-z-index;
  border-radius: $dropdown-menu-content-border-radius;
  background-color: $dropdown-menu-content-background-color;
  padding: $dropdown-menu-content-padding-y $dropdown-menu-content-padding-x;
  border: $dropdown-menu-content-border-width
    $dropdown-menu-content-border-color solid;
  transition: opacity $dropdown-menu-content-transition-fade-duration
      ease-in-out,
    visibility $dropdown-menu-content-transition-fade-duration ease-in-out;

  &--visible {
    opacity: 1;
    visibility: visible;
  }

  &-placement {
    /* Placement X */
    &-x-left {
      right: 0;
    }
    &-x-middle {
      right: 50%;
      transform: translateX(50%);
    }
    &-x-right {
      left: 0;
    }

    /* Placement Y */
    &-y-top {
      bottom: calc(100% + $dropdown-menu-content-offset-y);
    }
    &-y-bottom {
      top: calc(100% + $dropdown-menu-content-offset-y);
    }
  }
}
