@use '../tokens' as *;

.btn {
  gap: $btn-gap;
  cursor: pointer;
  color: $btn-color;
  user-select: none;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: $btn-font-size;
  -webkit-user-select: none;
  font-weight: $btn-font-weight;
  border-radius: $btn-border-radius;
  padding: $btn-padding-y $btn-padding-x;
  background-color: $btn-background-color;
  border: $btn-border-width $btn-border-color solid;
  transition: background-color $btn-transition-background-color-duration
    ease-in-out;

  /* Pseudo-classes */
  &:hover {
    background-color: $btn-hover-background-color;
  }
  &:active {
    background-color: $btn-active-background-color;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    background-color: $btn-disabled-background-color;
  }

  /* Variant */
  &--primary {
    color: $btn--primary-color;
    background-color: $btn--primary-background-color;

    /* Pseudo-classes */
    &:hover {
      background-color: $btn--primary-hover-background-color;
    }
    &:active {
      background-color: $btn--primary-active-background-color;
    }
    &:disabled {
      background-color: $btn--primary-disabled-background-color;
    }
  }

  &--outline-secondary {
    border-color: $btn--outline-secondary-color;
    background-color: $btn--outline-secondary-background-color;

    /* Pseudo-classes */
    &:hover {
      background-color: $btn--outline-secondary-hover-background-color;
    }
    &:active {
      background-color: $btn--outline-secondary-active-background-color;
    }
    &:disabled {
      background-color: $btn--outline-secondary-disabled-background-color;
    }
  }

  &--dashed-secondary {
    border-style: dashed;
    border-color: $btn--dashed-secondary-color;
    background-color: $btn--dashed-secondary-background-color;

    /* Pseudo-classes */
    &:hover {
      background-color: $btn--dashed-secondary-hover-background-color;
    }
    &:active {
      background-color: $btn--dashed-secondary-active-background-color;
    }
    &:disabled {
      background-color: $btn--dashed-secondary-disabled-background-color;
    }
  }

  /* Size */
  &--lg {
    gap: $btn--lg-gap;
    border-width: $btn--lg-border-width;
    padding: $btn--lg-padding-y $btn--lg-padding-x;
  }
}
