/* .btn */
.btn {
  color: #2A2A2A;
  background-color: transparent;
  border: .05em transparent solid;
  border-radius: .4em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  font-size: 1rem;
  font-weight: 500;
  padding: .4em .8em;
  transition: background-color .15s ease-in-out;
  -webkit-user-select: none;
  user-select: none;

  &:hover {
    background-color: #F9F9F9;
  }

  &:active {
    background-color: #F0F0F0;
  }

  &:disabled {
    background-color: #FFFFFF;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

/* .btn--primary */
.btn--primary {
  background-color: #3E63DD;
  color: #FFFFFF;

  &:hover {
    background-color: #3358D4;
  }

  &:active {
    background-color: #3A5BC7;
  }

  &:disabled {
    background-color: #3E63DD;
    opacity: 0.5;
  }
}

/* .btn--outline-secondary */
.btn--outline-secondary {
  border-color: #2A2A2A;
  background-color: #FFFFFF;

  &:hover {
    background-color: #F3F3F3;
  }

  &:active {
    background-color: #E4E4E4;
  }

  &:disabled {
    background-color: #FFFFFF;
    opacity: 0.5;
  }
}

/* .btn--dashed-secondary */
.btn--dashed-secondary {
  border-color: #2A2A2A;
  border-style: dashed;
  background-color: #FFFFFF;

  &:hover {
    background-color: #F3F3F3;
  }

  &:active {
    background-color: #E4E4E4;
  }

  &:disabled {
    background-color: #FFFFFF;
    opacity: 0.5;
  }
}

/* .btn--lg */
.btn--lg {
  border-width: .12em;
  padding: .6em 1.2em;
  gap: .6em;
}