.task-card__body {
  font-size: .9rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: .8em;
}

.task-card-body__description {
  font-size: .8rem;
  line-height: 1.5;
  color: #80838D;
}

.task-card-body__date {
  color: #60646C;
  display: flex;
  align-items: center;
  gap: .4em;
}

.task-card-body__priority {
  align-self: flex-start;
}