$colors: (
  blue: (
    100: hsl(221, 70%, 80%),
    200: hsl(221, 70%, 70%),
    300: hsl(221, 70%, 60%),
    400: hsl(221, 70%, 50%),
    500: hsl(221, 70%, 40%)
  ),
  white: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 90%),
    300: hsl(0, 0%, 80%),
    400: hsl(0, 0%, 70%),
    500: hsl(0, 0%, 60%)
  ),
  dark: (
    100: hsl(0, 0%, 20%),
    200: hsl(0, 0%, 15%),
    300: hsl(0, 0%, 10%),
    400: hsl(0, 0%, 5%),
    500: hsl(0, 0%, 0%)
  ),
  red: (
    100: hsl(356, 70%, 80%),
    200: hsl(356, 70%, 70%),
    300: hsl(356, 70%, 60%),
    400: hsl(356, 70%, 50%),
    500: hsl(356, 70%, 40%)
  ),
  light-blue: hsl(221, 70%, 80%)
);
