/* Badge */
$badge-color: #8b8d98;
$badge-padding-x: 0.6em;
$badge-font-size: 0.8rem;
$badge-border-radius: 0.8em;
$badge-background-color: #e8e8ec;
$badge-padding-y: calc($badge-padding-x / 2);

$badge--decorated-gap: 0.4em;
$badge--decorated-size: 0.5em;
$badge--decorated-border-radius: 50%;
$badge--decorated-background-color: #80838d;

/* Button */
$btn-gap: 0.5em;
$btn-color: #2a2a2a;
$btn-font-size: 1rem;
$btn-font-weight: 500;
$btn-padding-x: 0.8em;
$btn-border-radius: 0.4em;
$btn-border-width: 0.05em;
$btn-border-color: transparent;
$btn-background-color: transparent;
$btn-padding-y: calc($btn-padding-x / 2);
$btn-transition-background-color-duration: 0.15s;

$btn-hover-background-color: #f9f9f9;
$btn-active-background-color: #f0f0f0;

$btn-disabled-opacity: 0.5;
$btn-disabled-color: #ffffff;
$btn-disabled-background-color: transparent;

// primary
$btn--primary-color: #ffffff;
$btn--primary-background-color: #3e63dd;

$btn--primary-hover-background-color: #3358d4;
$btn--primary-active-background-color: #3a5bc7;
$btn--primary-disabled-background-color: #3e63dd;

// outline-secondary
$btn--outline-secondary-color: #2a2a2a;
$btn--outline-secondary-background-color: #ffffff;

$btn--outline-secondary-hover-background-color: #f3f3f3;
$btn--outline-secondary-active-background-color: #e4e4e4;
$btn--outline-secondary-disabled-background-color: #ffffff;

// dashed-secondary
$btn--dashed-secondary-color: #2a2a2a;
$btn--dashed-secondary-background-color: #ffffff;

$btn--dashed-secondary-hover-background-color: #f3f3f3;
$btn--dashed-secondary-active-background-color: #e4e4e4;
$btn--dashed-secondary-disabled-background-color: #ffffff;

// lg
$btn--lg-gap: 0.6em;
$btn--lg-padding-x: 1.2em;
$btn--lg-border-width: 0.12em;
$btn--lg-padding-y: calc($btn--lg-padding-x / 2);

/* IconButton */
$icon-btn-gap: 0.5em;
$icon-btn-color: #2a2a2a;
$icon-btn-font-size: 1rem;
$icon-btn-font-weight: 500;
$icon-btn-padding-x: 0.6em;
$icon-btn-border-radius: 50%;
$icon-btn-border-width: 0.05em;
$icon-btn-border-color: transparent;
$icon-btn-background-color: transparent;
$icon-btn-padding-y: calc($icon-btn-padding-x / 3);
$icon-btn-transition-background-color-duration: 0.15s;

$icon-btn-hover-background-color: #f9f9f9;
$icon-btn-active-background-color: #f0f0f0;

$icon-btn-disabled-opacity: 0.5;
$icon-btn-disabled-background-color: #ffffff;

// sm
$icon-btn--font-size: 0.8rem;

/* Select */
$select-font-size: 0.9rem;

// Select Content
$select-content-z-index: 1;
$select-content-padding-x: 0;
$select-content-offset-y: 0.3em;
$select-content-padding-y: 0.4em;
$select-content-max-height: 14em;
$select-content-border-radius: 0.4em;
$select-content-border-width: 0.12em;
$select-content-border-color: #d9d9d9;
$select-content-background-color: #ffffff;
$select-content-transition-fade-duration: 0.15s;

// Select Content Item
$select-content-item-color: #646464;
$select-content-item-padding-x: 1em;
$select-content-item-padding-y: 0.6em;
$select-content-item-transition-color-duration: 0.1s;
$select-content-item-transition-background-color-duration: 0.1s;

$select-content-item-hover-color: #202020;
$select-content-item-hover-background-color: #f3f3f3;

$select-content-item-active-color: #202020;
$select-content-item-active-background-color: #e4e4e4;

// Select Trigger
$select-trigger-gap: 0.5em;
$select-trigger-padding-x: 1em;
$select-trigger-font-weight: 500;
$select-trigger-padding-y: 0.6em;
$select-trigger-border-radius: 0.4em;
$select-trigger-outline-width: 0.05em;
$select-trigger-background-color: #e8e8e8;
$select-trigger-outline-color: transparent;
$select-trigger-transition-outline-color-duration: 0.15s;
$select-trigger-transition-background-color-duration: 0.15s;

$select-trigger-hover-background-color: #e0e0e0;
$select-trigger-active-background-color: #d9d9d9;

$select-trigger--active-outline-color: #bbbbbb;

// Select Trigger Icon
$select-trigger-icon-color: #838383;
$select-trigger-icon-transition-transform-duration: 0.15s;

// Select Trigger Value
$select-trigger-value--placeholder-color: #8d8d8d;

/* DropdownMenu */
$dropdown-menu-font-size: 0.9rem;

/* DropdownMenu Content */
$dropdown-menu-content-z-index: 1;
$dropdown-menu-content-padding-x: 0;
$dropdown-menu-content-offset-y: 0.3em;
$dropdown-menu-content-padding-y: 0.4em;
$dropdown-menu-content-border-radius: 0.4em;
$dropdown-menu-content-border-width: 0.12em;
$dropdown-menu-content-border-color: #d9d9d9;
$dropdown-menu-content-background-color: #ffffff;
$dropdown-menu-content-transition-fade-duration: 0.15s;

/* DropdownMenu Content Item */
$dropdown-menu-content-item-gap: 0.5em;
$dropdown-menu-content-item-color: #646464;
$dropdown-menu-content-item-padding-x: 1em;
$dropdown-menu-content-item-padding-y: 0.6em;
$dropdown-menu-content-item-background-color: transparent;
$dropdown-menu-content-item-transition-color-duration: 0.1s;
$dropdown-menu-content-item-transition-background-color-duration: 0.1s;

$dropdown-menu-content-item-hover-color: #202020;
$dropdown-menu-content-item-hover-background-color: #f3f3f3;

$dropdown-menu-content-item-active-color: #202020;
$dropdown-menu-content-item-active-background-color: #e4e4e4;

$dropdown-menu-content-item-disabled-opacity: 0.5;
$dropdown-menu-content-item-disabled-color: #646464;
$dropdown-menu-content-item-disabled-background-color: transparent;

// danger
$dropdown-menu-content-item--danger-color: #eb8e90;

$dropdown-menu-content-item--danger-hover-color: #dc3e42;
$dropdown-menu-content-item--danger-hover-background-color: #f3f3f3;

$dropdown-menu-content-item--danger-active-color: #dc3e42;
$dropdown-menu-content-item--danger-active-background-color: #e4e4e4;
